<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exercise Tracker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/seo-and-internet-marketing-set-2/100/Time_Saving-512.png" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/index.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Exercise Tracker</h1>
            <form action="/api/exercise/new-user" method="POST">
                <h3>Create User</h3>
                <code>POST /api/exercise/new-user</code>
                <input id="usrname" type="text" name="username" placeholder="Username">
                <input type="submit" value="Submit">
            </form>
            <form action="/api/exercise/add" method="POST">
                <h3>Add Exercise</h3>
                <p>
                    <code>POST /api/exercise/add</code>
                </p>
                <input id="uid" type="text" name="userid" placeholder="userId">
                <input id="desc" type="text" name="description" placeholder="description">
                <input id="dur" type="text" name="duration" placeholder="duration (mins)">
                <input id="datum" type="text" name="date" placeholder="Date (yyyy-mm-dd)">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>